@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

li,
button,
a {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FF8400;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
  background-color: #3F2305;
}

.logo {
  cursor: pointer;
  /* margin-right:auto ; */
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

button {
  padding: 9px 25px;
  background-color:none;
  border-color:#FF8400;
  border-width: 2px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #3F2305;
}

button:hover {
  background-color: #FF8400;
  border-color: #3F2305;
  color: #3F2305;
}
